/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

summary {
  display: block;
}

.head {
  display: inline;
  padding: 0px;
  margin: 0px;
}



.collapsible-container {
    /*width: 300px;
    margin: 50px auto;*/
}

.collapsible-header {
    background-color: #f1f1f1;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label {
    font-weight: bold;
}

.arrow {
    transition: transform 0.3s ease;
}

.collapsible-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    background-color: #ddd;
    padding: 10px;
    visibility: hidden;
}

.collapsible-body.show {
    visibility: visible;
    max-height: 5000px; /* Set a large value to ensure full visibility */
}